.header {
  width: 100%;
  background-color: lightgray;
  position: fixed;
  top: 0;
  padding: 20px;
}

* {
  margin: 0;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
}

.footer {
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
}
